<div class="section-hero uk-background-blend-color-burn uk-background-top-center uk-background-cover uk-section-large1 cta" style="background-image: url(https://i.imgur.com/1izfpnN.jpg)" >
  <nav class="uk-navbar-container uk-margin uk-navbar-transparent uk-light">
    <div class="uk-container">
      <div uk-navbar>
        <div class="uk-navbar-left">
          <%= link_to "The Cage", root_path, class: "uk-navbar-item uk-logo uk-text-uppercase" %>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav uk-text-uppercase uk-visible@m uk-margin-medium-left">
            <li><a href="#">Home</a></li>
<!--            <li>-->
<!--              <a href="article.html">Article</a>-->
<!--              <div class="uk-navbar-dropdown">-->
<!--                <ul class="uk-nav uk-navbar-dropdown-nav">-->
<!--                  <li><a href="article.html">Scrollspy</a></li>-->
<!--                  <li><a href="article-narrow.html">Narrow</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li><a href="faq.html">Faq</a></li>-->
<!--            <li><a href="contact.html">Contact</a></li>-->
<!--            <li><a href="components.html">Components</a></li>-->
          </ul>
          <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" uk-navbar-toggle-icon uk-toggle></a>
        </div>
      </div>
    </div>
  </nav>
  <div class="uk-container hero">
    <h1 class="uk-heading-primary uk-text-center uk-margin-large-top uk-light">The Cage Wiki</h1>
    <p class="uk-text-lead uk-text-center uk-light"><b>Everything you need to know about The Cage</b></p>
    <div class="uk-flex uk-flex-center">
      <form class="uk-margin-medium-top uk-margin-xlarge-bottom uk-search uk-search-default">
        <a href="" class="uk-search-icon-flip" uk-search-icon></a>
        <input id="autocomplete" class="uk-search-input uk-form-large" type="search" autocomplete="off" name="s" placeholder="Enter search term here...">
      </form>
    </div>
  </div>
</div>
