<div class="uk-section">
  <div class="uk-container">
    <div class="uk-child-width-1-3@s uk-grid-match uk-grid-medium uk-text-center" uk-grid>
      <div>
        <a href="#" class="box uk-border-rounded">
          <h3>Campaign Logs</h3>
        </a>
      </div>
      <div>
        <a href="#" class="box uk-border-rounded">
          <h3>Characters in the Cage</h3>
        </a>
      </div>
      <div>
        <a href="#" class="box uk-border-rounded">
          <h3>History</h3>
        </a>
      </div>
      <div>
        <a href="#" class="box uk-border-rounded">
          <h3>Inside the Cage</h3>
        </a>
      </div>
      <div>
        <a href="#" class="box uk-border-rounded">
          <h3>Outside the Cage</h3>
        </a>
      </div>
      <div>
        <a href="#" class="box uk-border-rounded">
          <h3>Vibes & Atmosphere</h3>
        </a>
      </div>
<!--      <div>-->
<!--        <a href="#" class="box uk-border-rounded">-->
<!--          <h3>Product Feedback</h3>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div>-->
<!--        <a href="category.html" class="box uk-border-rounded">-->
<!--          <h3>Freaqently Asked Questions</h3>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div>-->
<!--        <a href="category.html" class="box uk-border-rounded">-->
<!--          <h3>Release Notes</h3>-->
<!--        </a>-->
<!--      </div>-->
    </div>
  </div>
</div>

<div class="uk-section uk-padding-remove-top uk-padding-remove-bottom">
  <div class="uk-container">
    <hr>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container">
    <div class="uk-child-width-1-2@s text-dark" uk-grid>
      <div>
        <h3>Popular Articles</h3>
        <ul class="uk-list uk-list-large uk-list-divider link-icon-right">
          <li><a href="#">Voluptatem accusantium doloremque laudan rem aperiam</a></li>
          <li><a href="#">Sorem do eiusmod tempor incididunt dolore magna aliqua</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet elit sed do eiusmod</a></li>
          <li><a href="#">Sed ut perspiciatis unde omnis iste natus error sit aperiam</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing sed iusmod</a></li>
        </ul>
      </div>
      <div>
        <h3>Recent Articles</h3>
        <ul class="uk-list uk-list-large uk-list-divider link-icon-right">
          <li><a href="#">Lorem ipsum dolor sit ut labore et dolore magna aliqua</a></li>
          <li><a href="#">Sed ut perspiciatis unde omnis iste natus err aperiam</a></li>
          <li><a href="#">Consectetur adipiscing elit sed do eiusmod</a></li>
          <li><a href="#">Donseced do eiusmod tempor incididunt ut labore magna aliqua</a></li>
          <li><a href="#">Sed utem accusantium doloremque laudantium totam</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
